<ion-header>
  <ion-navbar  color="primary">
    <ion-title>Lista de pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card  *ngFor="let lista of _listaDeseos.listas">

    <ion-item color="primary">
      <div>{{ lista.nombre }}</div>
      <ion-note item-right>
         <div *ngIf="lista.items.length != 1; else elseBlock">{{ lista.items.length }} items</div>
         <ng-template #elseBlock>{{ lista.items.length }} item</ng-template>
      </ion-note>
    </ion-item>

    <hr>

    <ion-card-content *ngFor="let item of lista.items">
      <ion-icon *ngIf="!item.completado" ios="ios-square-outline" md="md-square-outline"></ion-icon>  {{ item.nombre }}
      <ion-icon *ngIf="item.completado" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>  {{ item.nombre }}
    </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
  <button ion-fab color="primary" (click)="irAgregar()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
